body{
	background-color: #ADD8E6;	
}

#profile{
	list-style-type: none;
	padding: 0;
}

.key{
	font-weight: bold;
}

#profileImg{
	height:150px;
	width:150px;
	border: 1px solid black;
}

dt{
	font-style: italic;
}