ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	text-decoration: underline;

}

a:hover + ul{
	display:block;
}

ul li ul {
	color:grey;
	display: none;
	overflow: auto;
	max-height: 80%;
}